.container {
  max-width: 960px;
}
.border-top { border-top: 1px solid #b2edff; }
.border-bottom { border-bottom: 1px solid #b2edff; }
.border-top-gray { border-top-color: #adb5bd; }

.box-shadow { box-shadow: 0 .25rem .75rem rgba(22, 22, 22, 0.05); }

.lh-condensed { line-height: 1.25; }
.fullName{
  width: 1250px !important;
}